.form_All{
  background-color: var(--fundo-form);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* padding: 20px 0; */
  height: 100vh;
}

.form_Flex{
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  width: 50%;
  flex:1;
  border-color: #4285F4;
  border-radius: 10px;
  align-items:center;
  justify-content: center;
  margin: 2.5%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

h2{
  display: flex;
  justify-content: center;
  margin-bottom: 0.5%;
  color: #245D61;
}

label{
  color: black;
  font-weight: 500;
}

.login .first_div{
  display: flex;
  flex-direction: column;

}

.first_div input{
  width: 380px;
  height: 32px;
  background-color: white;
  text-indent: 10px;
  color: black;
  border-radius: 5px;
  border: none;
}

.login .second_div{
  margin-left: 0;
  width: 100%;
  display: block;
  /* display: flex;
  flex-direction: column; */
}

.login .second_div input{
  width: 380px;
  height: 32px;
  background-color: white;
  text-indent: 10px;
  color: black;
  border-radius: 5px;
  border: none;
}
input::placeholder{
  color: black;
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance:initial;
}

.form_Flex label{
  margin-bottom: 1.5%;
  margin-top: 3.5%;
  font-weight: 600;
}

.form_title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #245D61;
}

div.form_button{
  margin-top: 7%;
  display: grid;
  grid-template-columns: none;
  justify-items: center;
  /* justify-items: center;
  justify-content: center; */
  /* width: 390px; */
  /* display: flex;
  justify-content:space-between */
}

/* .form_button button{
  display: flex;
  height: 42px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
} */
.form_button .botao {
  width: 100%;
  border: none;
}

.submit_password{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 35px;
  margin-bottom: 5%;
  border-radius: 10px;
  border: none;
  background-color: #4285F4;
  cursor: pointer;
}

.submit_forgot_password {
  text-align: end;
  margin-top: 2px;
}

/* .submit_forgot_password{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: #96D701;
  color: black;
  cursor: pointer;

}  */

.button-sign-up {
  margin-top: 9px;
}

.link.texto{
  cursor: pointer;
}

Footer{
  width: 100%;
}

Header{
  width: 100%;
}