<div class="container" id="container-path">
    <p>Perfil - Meus empréstimos - {{livro?.titulo}}</p>
</div>
<div class="row align-items-start" id="row-title">
    <div class="col-1 align-self-center" id="col-title">
        <h1>Empréstimo requerido</h1>
    </div>
    <div class="col" id="col-title-cut"></div>
</div>
<div id="container-box" class="container">
    <div id="book" class="row">
        <div class="col-md-3 align-self-center">
            <img src="./assets/imagens/capa-livro.png" alt="Foto de perfil">
        </div>
        <div class="col-md-4 align-self-center">
            <h2><b>{{livro?.titulo}}</b></h2>
            <h3>{{livro?.autor}}</h3>
            <h5>Sinopse:</h5>
            <p>{{livro?.sinopse}}</p>
            <div id="search-categories" class="row height d-flex justify-content-start align-items-center">
                <button id="btn-primary" class="btn btn-primary mx-2 my-2">{{livro.categoria1}}</button>
                <button id="btn-primary" class="btn btn-primary mx-2 my-2" *ngIf="livro.categoria2 != 'Selecione...'">{{livro.categoria2}}</button>
                <button id="btn-primary" class="btn btn-primary mx-2 my-2" *ngIf="livro.categoria3 != 'Selecione...'">{{livro.categoria3}}</button>
            </div> 
        </div>
        <div class="col-md-5" id="loan-details">
            <div class="row">
                <div class="col">
                    <h2><b>Detalhes do empréstimo</b></h2>
                </div>
            </div>
            <div class="row" id="foto-perfil">
                <div class="col-md-2 align-self-center">
                    <img src="./assets/imagens/foto-de-perfil.png" alt="Foto de perfil">
                </div>
                <div class="col-md-10">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="col"> <b>{{user?.nome}}</b> </h5>
                            <i id="location-logo" class="fa-solid fa-location-dot"></i>
                            <p id="location-text"> {{user?.cidade}}, {{user?.estado}}</p>
                        </div>
                    </div>
                    <div class="row align-items-center" id="avaliacao">
                        <div class="col" id="avaliacao">
                            <p id="nota">Nota: {{ user.nota | number: '1.2-2' }} </p>
                        </div>
                    </div>
                </div>
                <form [formGroup]="updateForm" (ngSubmit)="submit()">
                    <div class="col-md-9">
                        <h2 style="font-size: 18px; width: 1000px;"><b>Tempo de empréstimo solicitado: {{livro.tempoEmprestimo}} dias</b></h2>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                        </div>
                        <div class="row" style="display: flex; gap: 40px;">
                            <div class="col-md-3">
                                <div class="col-md-3">
                                    <label for="initial-date">Data de início</label><br>
                                </div>
                                <input type="date" id="dataInicio" formControlName="dataInicio" [(ngModel)]="dataInicio"
                                [ngClass]="{
                                    'is-invalid': submitted && f['dataInicio'].errors && (f['dataInicio'].dirty || f['dataInicio'].touched),
                                    'is-valid': f['dataInicio'].valid && (f['dataInicio'].dirty || f['dataInicio'].touched)}">
                                </div>
                                <div *ngIf="submitted && f['dataInicio'].errors?.['required']" class="invalid-feedback">
                                    Data é obrigatória
                                </div>
                                <div class="col-md-1" style="margin-top: 20px;">
                                    <p><b>até</b></p>
                                </div>
                                <div class="col-md-3">
                                <div class="col-md-3">
                                    <label for="final-date">Data de término</label><br>
                                </div>
                                <input type="date" id="dataFim" formControlName="dataFim" [(ngModel)]="dataFim"
                                    [ngClass]="{
                            'is-invalid': submitted && f['dataFim'].errors && (f['dataFim'].dirty || f['dataFim'].touched),
                            'is-valid': f['dataFim'].valid && (f['dataFim'].dirty || f['dataFim'].touched)}">
                            </div>
                            <div *ngIf="submitted && f['dataFim'].errors?.['required']" class="invalid-feedback">
                                Data é obrigatória
                            </div><br><br><br>
                        </div>
                        <div class="row" style="width: 500px;">
                            <p>* o usuário tem até 7 dias para buscar e 7 dias para devolver o livro além deste prazo de
                                empréstimo</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5><b>Regras</b></h5>
                                <ul>
                                    <li>É proibído rasurar, rabiscar, marcar ou desenhar em qualquer parte do livro.
                                    </li>
                                    <li>É proíbido tirar cópias do livro.</li>
                                    <li>É proibido emprestar o livro para terceiros.</li>
                                    <li>Qualquer atraso não conscentido na devolução gera um multa de R$ XX.</li>
                                    <li>As responsabilidades de busca de devolução do livro integralmente do requerente.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <button type="submit" id="btn-primary-long">Conceder empréstimo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="book-data" class="row text-center">
        <div class="col-md-2">
            <p>Nº de páginas</p>
            <i class="fa-regular fa-file"></i>
            <p><b>{{livro.numPag}}</b></p>
        </div>
        <div class="col-md-2">
            <p>Idioma</p>
            <i class="fa-solid fa-language"></i>
            <p><b>{{livro.idioma}}</b></p>
        </div>
        <div class="col-md-2">
            <p>Editora</p>
            <i class="fa-regular fa-building"></i>
            <p><b>{{livro.editora}}</b></p>
        </div>
        <div class="col-md-2">
            <p>Ano de publicação</p>
            <i class="fa-regular fa-calendar"></i>
            <p><b>{{livro.ano}}</b></p>
        </div>
        <div class="col-md-2">
            <p>ISBN-10</p>
            <i class="fa-solid fa-barcode"></i>
            <p><b>{{livro.sbn10}}</b></p>
        </div>
        <div class="col-md-2">
            <p>ISBN-13</p>
            <i class="fa-solid fa-barcode"></i>
            <p><b>{{livro.sbn13}}</b></p>
        </div>
    </div>
</div>