.header_flex{
  height: 100%;
  width: 100%;
  background-color: #245D61;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

.header_flex img{
  margin-right: 15%;

}

.menu_header{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  position: relative;
  margin-left: 5%;
}

.menu_header span{
  word-break:keep-all;
  cursor: pointer;
  margin-bottom: 4%;
}
.logo_menu{
  width: 10%;
  
  margin-top: 3%;
}

.header_icon{
  margin-right: 10% ;
  cursor: pointer;
  margin-bottom: 1%;
}
