.Text-div{
  margin: 3%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title-text{
  margin-bottom: 2.5%;

}

.date{
  margin-top: 1%;
  margin-bottom: 0.8%;
}

.label{
  margin-bottom: 2%;
  font-weight: 350;
}


.Text-area{
  width: 55%;
  height: 55%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

.Text-area:focus{
  /* box-shadow: 0 0 8px 2px rgba(91, 195, 50, 0.431); */

}

.Button-submit{
  margin-top: 1.8%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 45px;
  border-radius: 10px;
  font-weight: 500;
  background-color: #96D701;
  color: black;
  cursor: pointer;
  border: none;
}

.Button-submit:hover{

  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.TypeFile{
  margin-bottom: 1%;
}

.FileSelect{
  margin-bottom: 1.5%;
}