<div class="container" id="container-path">
    <p>Perfil - Empréstimos</p>
</div>
<div class="row align-items-start" id="row-title">
    <div class="col-1 align-self-center" id="col-title">
        <h1>Meus empréstimos</h1>
    </div>
    <div class="col" id="col-title-cut"></div>
</div>
<div class="container">
    <div class="row" id="row-card" *ngFor="let livro of livrosOutraArray">
        <div class="col-1" id="col-logo">
            <img height="160" src="./assets/imagens/capa-livro.png" alt="capa-livro">
        </div>
        <div class="col-auto me-auto align-self-center">
            <h3 *ngIf="id === livro.idDono">Empréstimo concedido</h3>
            <h3 *ngIf="id === livro.idRequerente">Empréstimo requerido</h3>
            <p><b>Status:</b> {{ livro.status === 1 ? 'Ativo' : 'Finalizado' }}  | <b>{{livro.avaliacao != null ? livro.avaliacao + ' estrelas' : 'Á avaliar'}}</b></p>
            <p><b>{{livro.titulo}}</b></p>
            <p>{{livro.autor}}</p>
        </div>
        <div class="col-auto align-self-end" id="col-btn-primary">
            <button id="btn-primary" (click)="verEmprestimo(livro.idAnuncio)">Ver mais</button>
        </div>
    </div>
</div>