
.campos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  width: 50%;
  
}

.form_All {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  margin: 0;
  height: 100vh;
}

.form_Flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items:center;
  justify-content: center;
  margin-bottom: 3.8%;
  flex: 1;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5%;
  color: #245D61;
}

label {
  color: black;
  font-weight: 500;
}

.first_div input{
  width: 380px;
  height: 32px;
  background-color: white;
  text-indent: 10px;
  color: black;
  border-radius: 5px;
  border: none;
}


.second_div input{
  width: 380px;
  height: 32px;
  background-color: white;
  text-indent: 10px;
  color: black;
  border-radius: 5px;
  border: none;
}

.first_div, .second_div {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}


input {
  width: 380px;
  height: 32px;
  background-color: white;
  text-indent: 10px;
  color: black;
  border-radius: 5px;
  border: none;
}

input::placeholder {
  color: black;
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form_Flex label {
  margin-bottom: 0.5%;
  margin-top: 3.5%;
  font-weight: 600;
}

.form_title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #245D61;
}
.form_button.cadastro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.form_button.cadastro button{
  display: flex;
  height: 42px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

.submit_google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #aab0b9;
}

.submit_trad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: #96D701;
  color: black;
  cursor: pointer;
} 

Header{
  width: 100%;
}

Footer{
  width: 100%;
}