input {
  outline: none;
}

.page_flex {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.UserProfile_flex {
  display: flex;
  flex-direction: column;
  background-color: #d6e5e5;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 8%;
  border-radius: 10px;
  align-self: center;
}

.Flex{
  display: flex;
  flex-direction: row;

}

.Flex label{
  margin-top: 2.5%;
  margin-bottom: 1.5%;
}

.Profile_data{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2%;
}

.Profile_data label{
  margin-top: 10px;
}
.Profile_data button{
  font-weight: 600;
  margin-top: 5%;
  width: 200px;
  height: 40px;
  background-color: #96D701;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  display: flex;
  
}

.first_div{
  width: 300px;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.second_div{
  width: 300px;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.submit_trad{
  font-weight: 600;
  margin-top: 7%;
  width: 200px;
  height: 40px;
  background-color: #96D701;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_Ani{
 font-weight: 600;
  margin-top: 7%;
  width: 200px;
  height: 40px;
  background-color: #FF7D01;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}