h1 {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 32px;
}

.sharedLibIcon {
    width: 60px;
    margin-bottom: 10px;
}

.centralizar {
    text-align: center;
}

.centralizar p {
    margin-bottom: 40px;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 100px 120px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;
    color: #042932;
}

.container a {
    text-decoration: none;
    color: #0B9D92;
}